<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog~</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.js"></script>
</head>
<body>
<a href="/">首页</a>
<h2>欢迎 {U1048596.solar.earth.human}，请 <a href="/register.html">注册</a></h2>
<div id="app">
    <h5>发表帖子：</h5>
    <i>用户：</i><input v-model="username" placeholder="username">
    <br>
    <i>密码：</i><input v-model="password" placeholder="password">
    <br>
    <i>标题：</i><input v-model="title" placeholder="your_title">
    <br>
    <i>内容：</i><br><textarea v-model="body" placeholder="body"></textarea>
    <br>
    <i>浏览权限：</i>
    <input type="radio" name="permission" v-model="permission" id="visitor" value="0">
    <label for="visitor">游客</label>
    <input type="radio" name="permission" v-model="permission" id="user" value="1">
    <label for="user">用户</label>
    <input type="radio" name="permission" v-model="permission" id="admin" value="2">
    <label for="admin">管理员</label>
    <br>
    <br>
    <button @click="submit">提交</button>

    <h3 v-if=server_message>{{server_message}}</h3>
    <br>
    <p>现在时间是：{{date}}</p>
</div>
<script>var app = new Vue({
    el: '#app',
    data: {
        username: undefined,
        password: undefined,
        title: undefined,
        body: undefined,
        date: new Date(),
        server_message: undefined,
        permission: 0
    },
    mounted() {
        let _this = this
        this.timer = setInterval(() => {
            _this.date = new Date(); // 修改数据date
        }, 1000)
    },
    methods: {
        submit: function () {
            axios.post('/api/update_note', {
                id: -1,
                username: this.username,
                password: this.password,
                title: this.title,
                body: this.body,
                permission: this.permission
            }).then(response => (this.server_message = response.data))
        }
    }
})</script>
</body>
</html>